# Dominio
DOMAIN_HOST=arcane.dominio.com
APP_URL=https://arcane.dominio.com


# Claves de Seguridad (GENERAR NUEVAS)
# Generar con: openssl rand -hex 32
ENCRYPTION_KEY=cambiar_por_clave_generada
JWT_SECRET=cambiar_por_secret_generado