# URL de acceso de la aplicación
APP_URL=http://localhost:3552

# Ruta del host donde están los proyectos (debe existir en el host)
PROJECTS_DIRECTORY=/ruta/a/tus/proyectos

# Claves de Seguridad (GENERAR NUEVAS)
# Generar con: openssl rand -hex 32
ENCRYPTION_KEY=cambiar_por_clave_generada
JWT_SECRET=cambiar_por_secret_generado
